In [1]:
import pandas as pd
import numpy as np

In [2]:
col_names = ['Text_tokens', 'Hashtags', 'Tweet_id', 'Present_media', 'Present_links', 'Present_domains', 'Tweet_type', 'Language', 'Timestamp',
        'User_id', 'Follower_count', 'Following_count', 'Is_verified', 'Account_creation_time',
        'User_id_engaging', 'Follower_count_engaging', 'Following_count_engaging', 'Is_verified_engaging', 'Account_creation_time_engaging',
        'Engagee_follows_engager', 'Reply_engagement_timestamp', 'Retweet_engagement_timestamp', 'Retweet_with_comment_engagement_timestamp', 'Like_engagement_timestamp']
def clean_col(x):
    if(pd.isna(x)):
        return x
    else:
        return x.replace('\t', '|')
    

def process_chunk_tsv(df, col_to_clean=['Text_tokens', 'Hashtags', 'Present_media', 'Present_links', 'Present_domains'], isVal=False):

    df.columns = col_names

    # Convert boolean to 1 / 0
    df['Is_verified'] = df['Is_verified'].apply(lambda  x: 1 if x else 0)
    df['Is_verified_engaging'] = df['Is_verified_engaging'].apply(lambda  x: 1 if x else 0)

    for col in col_to_clean:
        df[col] = df[col].apply(lambda x: clean_col(x))
        df[col] = df[col].fillna(0)
    return df

In [10]:
df_training = pd.read_csv('//fmnas/Dataset/training.tsv', sep='\u0001', header=None, nrows=100000)

# Cumulative like (da sviluppare su interazioni)

In [125]:
df_training = process_chunk_tsv(df_training)
df_count_like = df_training[['Tweet_id', 'Like_engagement_timestamp']]
df_count_like = df_count_like[~df_count_like['Like_engagement_timestamp'].isnull()]
df_count_like.loc[:,'Like'] = np.repeat(1, df_count_like.shape[0])
df_count_like['Tweet_id'].unique().shape
df_count_like = df_count_like.reset_index(drop=True)
df_count_like['cumulative_like'] = df_count_like.groupby(['Tweet_id'])['Like'].cumsum()
df_count_like.head()

# Following / Follower ratio

In [5]:
df_training = process_chunk_tsv(df_training)
df_training.loc[:,"follow_ratio_engaging"] = df_training.loc[:,'Following_count_engaging'] / df_training.loc[:,'Follower_count_engaging']
df_training.head()

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,User_id_engaging,Follower_count_engaging,Following_count_engaging,Is_verified_engaging,Account_creation_time_engaging,Engagee_follows_engager,Reply_engagement_timestamp,Retweet_engagement_timestamp,Retweet_with_comment_engagement_timestamp,Like_engagement_timestamp
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,0000006C3074607050F1339DDCB890BB,27428,600,0,1520948869,False,NaN,NaN,NaN,NaN
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,000005C520010F8917EEAB6F5B6EC1C4,17,77,0,1569692352,True,NaN,NaN,NaN,NaN
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,000006829BEADA9EEA695CF0C334B426,2,29,0,1568107028,False,NaN,NaN,NaN,1.581247e+09
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,000006829BEADA9EEA695CF0C334B426,3,30,0,1568107028,False,NaN,NaN,NaN,NaN
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,000006829BEADA9EEA695CF0C334B426,3,30,0,1568107028,False,NaN,NaN,NaN,NaN

# Tempo passato da creazione a tweet

In [ ]:
df_training = process_chunk_tsv(df_training)
df_training['Elapsed_time_author'] = df_training['Timestamp'] - df_training['Account_creation_time']
df_training['Elapsed_time_user'] = df_training['Timestamp'] - df_training['Account_creation_time_engaging']
df_training.head()

# NÂ° Like per utente

In [40]:
df_training = pd.read_csv('//fmnas/Dataset/training.tsv', sep='\u0001', header=None, nrows=100000)

In [41]:
df_training = pd.read_csv('//fmnas/Dataset/training.tsv', sep='\u0001', header=None, nrows=100000)
df_training = process_chunk_tsv(df_training)
df_count_like = df_training[['User_id_engaging','Reply_engagement_timestamp', 'Retweet_engagement_timestamp', 'Retweet_with_comment_engagement_timestamp', 'Like_engagement_timestamp']]
df_count_like = df_count_like[(~df_count_like['Like_engagement_timestamp'].isnull()) | 
                             (~df_count_like['Reply_engagement_timestamp'].isnull()) |
                             (~df_count_like['Retweet_engagement_timestamp'].isnull()) |
                             (~df_count_like['Retweet_with_comment_engagement_timestamp'].isnull())]
df_count_like.loc[:,'Reply_engagement_timestamp'] = df_count_like.loc[:,'Reply_engagement_timestamp'].apply(lambda x: 0 if pd.isna(x) else 1)
df_count_like.loc[:,'Retweet_engagement_timestamp'] = df_count_like.loc[:,'Retweet_engagement_timestamp'].apply(lambda x: 0 if pd.isna(x) else 1)
df_count_like.loc[:,'Retweet_with_comment_engagement_timestamp'] = df_count_like.loc[:,'Retweet_with_comment_engagement_timestamp'].apply(lambda x: 0 if pd.isna(x) else 1)
df_count_like.loc[:,'Like_engagement_timestamp'] = df_count_like.loc[:,'Like_engagement_timestamp'].apply(lambda x: 0 if pd.isna(x) else 1)

df_count_like.head()

,User_id_engaging,Reply_engagement_timestamp,Retweet_engagement_timestamp,Retweet_with_comment_engagement_timestamp,Like_engagement_timestamp
2,000006829BEADA9EEA695CF0C334B426,0,0,0,1
7,00000860E80C67D8C46CE57C64DE9444,0,0,0,1
9,00000860E80C67D8C46CE57C64DE9444,0,0,0,1
10,00000860E80C67D8C46CE57C64DE9444,0,0,0,1
13,0000094443AB46ED4A5C5E201EA3BCAE,0,0,0,1

In [42]:
df_count_like = df_count_like.groupby('User_id_engaging').agg({
    'Reply_engagement_timestamp': 'sum',
    'Retweet_engagement_timestamp': 'sum',
    'Retweet_with_comment_engagement_timestamp': 'sum',
    'Like_engagement_timestamp': 'sum'
}).reset_index()
df_count_like = df_count_like.rename({'Like_engagement_timestamp': 'Tot_like',
                                      'Reply_engagement_timestamp': 'Tot_reply',
                                     'Retweet_engagement_timestamp': 'Tot_retweet',
                                     'Retweet_with_comment_engagement_timestamp': 'Tot_comment'}, axis='columns')
df_count_like.head(9)

,User_id_engaging,Tot_reply,Tot_retweet,Tot_comment,Tot_like
0,000006829BEADA9EEA695CF0C334B426,0,0,0,1
1,00000860E80C67D8C46CE57C64DE9444,0,0,0,3
2,0000094443AB46ED4A5C5E201EA3BCAE,0,0,0,1
3,00000B44A4956EA5D920FCD1C8A1A26E,0,1,0,0
4,00000B85AAF7DE172876FD96718C4469,0,3,1,3
5,00000CF5938995CC4AD871BD75568815,0,0,0,1
6,00000DEF82BE9EB5CFD07FB7DB94317B,0,0,0,1
7,00000E0C9B364891CDE89ECFC54771DE,0,2,0,3
8,0000142A2D3FCA2A1EAE0569CBEA8A11,0,0,0,1

In [45]:
df_count_like['User_id_engaging'].unique().shape[0]

35275

In [46]:
df_count_like.shape[0]

35275

In [11]:
df_input = pd.read_csv('./user_features.csv')
df_input.head()

,User_id_engaging,Tot_reply,Tot_retweet,Tot_comment,Tot_like,Tot_action
0,000006829BEADA9EEA695CF0C334B426,0,0,0,1,1
1,00000860E80C67D8C46CE57C64DE9444,0,0,0,3,3
2,0000094443AB46ED4A5C5E201EA3BCAE,0,0,0,1,1
3,00000B44A4956EA5D920FCD1C8A1A26E,0,1,0,0,1
4,00000B85AAF7DE172876FD96718C4469,0,3,1,3,7

In [13]:
df_training = process_chunk_tsv(df_training)
df_training.head()

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,User_id_engaging,Follower_count_engaging,Following_count_engaging,Is_verified_engaging,Account_creation_time_engaging,Engagee_follows_engager,Reply_engagement_timestamp,Retweet_engagement_timestamp,Retweet_with_comment_engagement_timestamp,Like_engagement_timestamp
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,0000006C3074607050F1339DDCB890BB,27428,600,0,1520948869,False,NaN,NaN,NaN,NaN
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,000005C520010F8917EEAB6F5B6EC1C4,17,77,0,1569692352,True,NaN,NaN,NaN,NaN
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,000006829BEADA9EEA695CF0C334B426,2,29,0,1568107028,False,NaN,NaN,NaN,1.581247e+09
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,000006829BEADA9EEA695CF0C334B426,3,30,0,1568107028,False,NaN,NaN,NaN,NaN
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,000006829BEADA9EEA695CF0C334B426,3,30,0,1568107028,False,NaN,NaN,NaN,NaN

In [15]:
df = df_training.merge(df_input, how='left', left_on='User_id_engaging', right_on='User_id_engaging')
df_merge.head()

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,Engagee_follows_engager,Reply_engagement_timestamp,Retweet_engagement_timestamp,Retweet_with_comment_engagement_timestamp,Like_engagement_timestamp,Tot_reply,Tot_retweet,Tot_comment,Tot_like,Tot_action
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,False,NaN,NaN,NaN,1.581247e+09,0.0,0.0,0.0,1.0,1.0
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,False,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,False,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0

In [16]:
df.loc[:,'ratio_reply'] = df.loc[:,'Tot_reply'] / df.loc[:,'Tot_action']
df.loc[:,'ratio_retweet'] = df.loc[:,'Tot_retweet'] / df.loc[:,'Tot_action']
df.loc[:,'ratio_comment'] = df.loc[:,'Tot_comment'] / df.loc[:,'Tot_action']
df.loc[:,'ratio_like'] = df.loc[:,'Tot_like'] / df.loc[:,'Tot_action']
df.head()

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,Like_engagement_timestamp,Tot_reply,Tot_retweet,Tot_comment,Tot_like,Tot_action,ratio_reply,ratio_retweet,ratio_comment,ratio_like
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,1.581247e+09,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [17]:
df.fillna(-1)

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,Like_engagement_timestamp,Tot_reply,Tot_retweet,Tot_comment,Tot_like,Tot_action,ratio_reply,ratio_retweet,ratio_comment,ratio_like
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,-1.000000e+00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,-1.000000e+00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,1.581247e+09,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,-1.000000e+00,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,-1.000000e+00,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100010,101|56898|137|25444|10797|32169|10884|10917|13...,0,5742C1A6BA649B9CC9B6CAE5A88FE70F,Photo,0,0,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1580993142,2AD3A30D6FB6EA9BDA4925D2237DA29B,...,1.580998e+09,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
100011,101|56898|137|174|61762|27593|10129|131|27746|...,0,12DC6C199625D4319832E51451AD480C,0,7A8FDF03CD02A1DCF24A20F7E3602D18,8E98AD4804271F227F16EF65FFE64E89,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581349454,0ED17196668980360787FF78A279EAC0,...,1.581349e+09,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
100012,101|11399|77536|10107|117|10827|10124|10105|10...,0,35C81BB074E9D4E5C1F8120B0D5DC0CF,0,26E7531AE50BF70B777896664A6327A9,A879416C89FC0D16FF644AC85D9488A1,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581314731,1AF2F24B9AD1EE285D44A98EC6E0ABA4,...,1.581394e+09,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
100013,101|149|11403|11403|39272|146|110014|11490|772...,0,DD783F095EFB87458F6DE0B5F117AFE3,0,0,0,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581007978,2FD5A234BB70D8219FAED834BB07B998,...,1.581015e+09,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
100014,101|10357|10124|10435|11098|26059|102,0,54F8D6684A8AC0C8C649C7C26ECB2B9B,0,0,0,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581268230,3D984C576787C80023D1CA74398DD1D5,...,-1.000000e+00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [18]:
df.columns

Index(['Text_tokens', 'Hashtags', 'Tweet_id', 'Present_media', 'Present_links',
       'Present_domains', 'Tweet_type', 'Language', 'Timestamp', 'User_id',
       'Follower_count', 'Following_count', 'Is_verified',
       'Account_creation_time', 'User_id_engaging', 'Follower_count_engaging',
       'Following_count_engaging', 'Is_verified_engaging',
       'Account_creation_time_engaging', 'Engagee_follows_engager',
       'Reply_engagement_timestamp', 'Retweet_engagement_timestamp',
       'Retweet_with_comment_engagement_timestamp',
       'Like_engagement_timestamp', 'Tot_reply', 'Tot_retweet', 'Tot_comment',
       'Tot_like', 'Tot_action', 'ratio_reply', 'ratio_retweet',
       'ratio_comment', 'ratio_like'],
      dtype='object')

In [20]:
col_to_fill = ['Tot_reply', 'Tot_retweet', 'Tot_comment', 'Tot_like', 'Tot_action', 'ratio_reply', 'ratio_retweet', 'ratio_comment', 'ratio_like']
df[col_to_fill] = df[col_to_fill].fillna(value=-1)
df.head()

,Text_tokens,Hashtags,Tweet_id,Present_media,Present_links,Present_domains,Tweet_type,Language,Timestamp,User_id,...,Like_engagement_timestamp,Tot_reply,Tot_retweet,Tot_comment,Tot_like,Tot_action,ratio_reply,ratio_retweet,ratio_comment,ratio_like
0,101|6417|3410|3398|3184|1909|56910|16838|82904...,0,D4D1EBDE74F74C5DA529959AF979625C,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581258144,D7EFC6D19CFB09B9A1CE4C4B0E0091F6,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101|14120|131|120|120|188|119|11170|120|178|71...,0,BFB529DAB6D384EB83E899A72AB3830D,Photo,0,0,TopLevel,B9175601E87101A984A50F8A62A1C374,1581018910,1F30A85E612A24B426013978ADB7AE46,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101|62342|10858|54439|19571|22480|7831|8129|22...,0,519078C7834E9642508F72A6C2D0F3B7,0,788ABAA22F1C4A9D186510C1E3E81F58,892B6E0BC037800B59112CFCB95E3301,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581244866,9E1FD934C376903895DEEBCC0F6AB920,...,1.581247e+09,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,101|58955|10898|103305|1901|16181|7168|17984|1...,F0F2FBE57F08E7C4326682B5EDA63E3E|E78674D323461...,52AAE9E33EFAC8C478C57B31A9E31ED1,0,C06B84A10A75AE4BF4A102AB45CC2ABF,C0F5328C1D36CD4B34D1808012E18D46,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581250124,BEB3C337B266E2C4769065AD64724329,...,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,101|2435|5656|2594|8279|8623|1925|64126|14725|...,0,89C1298C55EB3D68E2784F0BFB69E6F8,0,0,0,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580958805,9E1FD934C376903895DEEBCC0F6AB920,...,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0