In [36]:
import pandas as pd
import numpy as np

In [37]:
df_prediction_rt = pd.read_csv('prediction_Retweet.csv')
df_prediction_rt.columns = ['Tweet_id', 'User_id', 'Prediction']
df_prediction_rt.head()

,Tweet_id,User_id,Prediction
0,3EA8DE8FC55412B2A77F1D069E287C3A,B96958D58A0D2A3752ABC60BE0ED51CA,2.191839e-05
1,9B5B6831B469825B0DED116184954134,B9695B63C5E37E8E2F4322C69DB8A7B5,0.000000e+00
2,C0D1F79BE97D043A651349D8E2A6F575,B9695E452508FA26C8513DB05F14327E,0.000000e+00
3,AE5D943F0252CF36838D70457428CC77,B969618030085975296BEE1397698ACA,3.761842e-01
4,44FE0C08C309A190D3380EC4C81E72FF,B9696645E6C5C1B4C4D85B7B7062E393,5.540095e-18

In [38]:
df_retweet_sicuri = pd.read_csv('retweet_100.csv')
df_retweet_sicuri = df_retweet_sicuri[['Tweet_id', 'User_id_engaging']]
df_retweet_sicuri.head()

                           Tweet_id                  User_id_engaging
0  19565A06471771D298AFB07378B282A0  0050AA6514346E6658D98224DB459502
1  2B4A061D2188EDDA981F5D4598CB7B24  00594D54385DE13237ECE6F082790BFD
2  5FBF4366430D457A4A17436A0672C725  00AB1A2BFCAA0E878A5E1025227FE05E
3  6F7ADC2D74D8BA4B65F345DCC9EBCCE1  00FAC16C5278EE994EDC2EB4FDAE3846
4  BCD7AC983ED0DBF732FCDF23F554C75D  0183CA033F1934B276746BD16E2217F1

In [39]:
df_merged = df_prediction_rt.merge(df_retweet_sicuri, how='left', left_on=['Tweet_id', 'User_id'], right_on=['Tweet_id', 'User_id_engaging'])
df_merged['Prediction'] = np.where((df_merged['User_id']==df_merged['User_id_engaging']), 1, df_merged['Prediction'])
df_merged[['Tweet_id', 'User_id', 'Prediction']]
df_merged.head()

,Tweet_id,User_id,Prediction,User_id_engaging
0,3EA8DE8FC55412B2A77F1D069E287C3A,B96958D58A0D2A3752ABC60BE0ED51CA,2.191839e-05,NaN
1,9B5B6831B469825B0DED116184954134,B9695B63C5E37E8E2F4322C69DB8A7B5,0.000000e+00,NaN
2,C0D1F79BE97D043A651349D8E2A6F575,B9695E452508FA26C8513DB05F14327E,0.000000e+00,NaN
3,AE5D943F0252CF36838D70457428CC77,B969618030085975296BEE1397698ACA,3.761842e-01,NaN
4,44FE0C08C309A190D3380EC4C81E72FF,B9696645E6C5C1B4C4D85B7B7062E393,5.540095e-18,NaN

In [40]:
df_merged[~df_merged['User_id_engaging'].isna()]

,Tweet_id,User_id,Prediction,User_id_engaging
12467,E2779C826CDA17F3A92E2625B105F21B,BA1CE964A449AF73A369934F3120DEA6,1.0,BA1CE964A449AF73A369934F3120DEA6
19848,30DF63EE0EEF84E5D76C303BC7445C48,BA86756C073E16B53074AD5C28585C7A,1.0,BA86756C073E16B53074AD5C28585C7A
20950,B6FE1098AC20A31F8EFDC1BC95B0D668,BA9754D8B1144152BA86375920514142,1.0,BA9754D8B1144152BA86375920514142
21445,CAA4ECAFD4C00908168E2515E43FEA5A,BA9E541D68B7C391528F32F89DC2D84B,1.0,BA9E541D68B7C391528F32F89DC2D84B
24530,9151A7725AFCC92318A38BE5936D0767,BACB30CC8438FB5D1DB2B65E1909BA01,1.0,BACB30CC8438FB5D1DB2B65E1909BA01
...,...,...,...,...
13353929,741930732E71B29F3DF0D7388A99972D,58B18B408331C44E6D64D9B939A1BC5B,1.0,58B18B408331C44E6D64D9B939A1BC5B
13364929,9C904DE79E22A80B8387B697F875F4CD,5955CECD197BB99F7A1F43595DBCFA69,1.0,5955CECD197BB99F7A1F43595DBCFA69
13368663,1BFABD2DD1B6402B4BC1A20917D6F8EC,598B37ED3B521E1E863F12AB44774B88,1.0,598B37ED3B521E1E863F12AB44774B88
13375267,F2A196D3469A6AD436681675564681ED,59EBF29FA0F00960DF09D3C9CAD4BB37,1.0,59EBF29FA0F00960DF09D3C9CAD4BB37
13409561,2D16226A1B7F8E3E337140689F806AA1,5BDF4AFEAD54B45C609C75BC02773112,1.0,5BDF4AFEAD54B45C609C75BC02773112